
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/front.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>GetFrontend</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index">&nbsp <</<>/> Front dev</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">&nbsp +77779537464</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><img src="/public/images/174855.png" alt="" height="30px"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://instagram.com/tugambayeva.aruzhan?utm_medium=copy_link"><img src="/public/images/whats.png" alt="" height="30px"></a>
                </li>
                <li class="nav-item" id="temp">
                   <h6>Nursultan: </h6> <%- temperature %>
                </li>
                <li class="nav-item">
                    <form action="create" method="get">
                    <button id="for_admins">For admins</button></form>
                </li>
            </ul>
            <form class="d-flex">
                <div class="temperature"><h2 id="temp"></h2></div>
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>

</nav>
<br>
<div id="frontblock">
    <h1 id="titlename" align="center">Frontend training</h1>
    <div class="mt-4 p-5 bg-primary text-white rounded" id="frontinside">

        <div>
            <img src="/public/images/front.png" height="200px" alt="">
        </div>
        <div class="text">
            <ul>
                <li>Frontend — everything that the browser can read, display and/or run. That is, it is HTML, CSS and JavaScript.</li>
                <li>HTML (HyperText Markup Language) tells the browser what the content of the page is, for example, "title", "paragraph", "list", "list item".</li>
                <li>CSS (Cascading Style Sheets) tells the browser how to display elements, for example, "after the first paragraph, an indent of 20 pixels" or "all text in the body element should be dark gray and written in Verdana font"</li>
            </ul>
        </div>
    </div>
</div>
<div id="introblock" class="bg-warning">
    <div class="intro_name"><p>Our courses wll suit for</p></div>
    <div id="sec_inside">
        <div>
            <img src="/public/images/sec.png" height="200px">
        </div>
        <div id="intro_inside">
            <ul>
                <li>Children 12 years and older
                    Boys and girls</li>
                <li>Children who often sit on various sites and want to understand them</li>
                <li>To everyone who already knows how to read and wants to create and create new</li>
            </ul>
        </div>
    </div>
</div>
<div id="choose_block" class="bg-dark-grey">
    <div class="title_choose">
        <h1 class="badge ">What do you want to learn?</h1>
    </div>
    <div class="choices">
        <div class="container mt-3">
            <a href="about_html"><button type="button" class="btn btn-outline-danger btn-lg butn">HTML</button></a>
            <div class="space"></div>
            <a href="about_css"><button type="button" class="btn btn-outline-primary btn-lg butn">&nbsp&nbspCSS&nbsp&nbsp</button></a>
            <div class="space"></div>
            <a href="about_js"><button type="button" class="btn btn-outline-success btn-lg butn">&nbsp&nbsp&nbspJS&nbsp&nbsp&nbsp</button></a>
        </div>
    </div>
</div>

<div id="aboutus">
    <div class="info_title">
        <h1 id="info_title" align="center">About Us</h1>
    </div>
    <div class="container cards">
        <div class="container mt-3">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/public/images/Era.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Erasyl Zarubekov</h4>
                    <p class="card-text">Frontend developer and novice Backend developer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="/public/images/Tuga.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Aruzhan Tugambayeva</h4>
                    <p class="card-text">Frontend developer and novice Backend developer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3  rounded" id="comm">
    <br>
    <div id="review" >
        <h1>Comments</h1>
    </div>
    <form>

        <div class="mb-3">
            <label class="comments">Write a comment</label>
            <textarea class="form-control" rows="5"  name="text"></textarea>
        </div>

        <button type="button" class="btn btn-outline-primary" onclick="Getter()"  id="submitbtn">Submit</button>
    </form>
    <br>
</div>
<footer>

    <div class="footer_inside">



        <div class="madeby">
            <div class="container">
                Made by "Boilerplate"
            </div>

        </div>
    </div>
</footer>
</body>
</html>