*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(40,37,87,1) 100%);
  }

.dead_inside{
    padding-top: 150px;
  }
  #login_title{
    display: flex;
    justify-content: center;
  }
  #good{
  font-size: 5vw;
  color:  rgb(209,56,26);
  }
  
  #code{
    font-size: 5vw;
    color:rgb(0,155,215);
  }
  .password_inside{
    padding-top: 25px;
  }
  .Id_inside{
    padding-top: 25px;
  }
  .main_buttons{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
 #sign_up,#sign_in{
     color: white;
     font-size: 25px;
 }
 a{
    text-decoration: none;
    color: white;
  }
  .fab{
    color: aliceblue;
  }
  #login{}